.container {
    background-image: url('../../public/galaxiaroxa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding: 2rem;
    font-family: 'Quicksand', sans-serif;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.title {
    font-size: 2.2rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #6b00cf;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-shadow: 0 0 4px #7700ff, 0 0 8px #040108;
    text-transform: uppercase;
    font-weight: bold;
}

.title:hover {
    color: #6523e0;
    text-shadow: 0 0 8px #8040c9, 0 0 12px #5b4fc2;
    transform: scale(1.05);

}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
}

.input {
    width: 300px;
    padding: 12px;
    border: 2px solid #a09d9d;
    border-radius: 9px;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 0 8px rgba(166, 10, 228, 0.2);
    transition: all 0.3s ease;
}

.input:focus {
    border-color: #6255d3;
    outline: none;
    box-shadow: 0 0 10px rgba(98, 85, 211, 0.5);
    background-color: #1a1a1a;
}

.searchButton {
    background-color: #1e90ff;
    border: none;
    color: white;
    padding: 10px 22px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #09c1ff;
    box-shadow: 0 0 10px rgba(9, 193, 255, 0.5);
    transform: scale(1.05);
}

.buttonReset {
    background-color: #e71212;
    border: none;
    color: white;
    padding: 10px 22px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.buttonReset:hover {
    background-color: #ff7f7f;

}
