.container {
    background-image: url('../../public/RM_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding: 2rem;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

.title:hover {
    color: #e9e9e9;
    text-shadow: 0 0 5px #e9e9e9, 0 0 5px #e9e9e9, 0 0 5px #e9e9e9;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.searchButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
}


.buttonReset {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
}